.main-footer {
  background-color: #05042E;
  padding: 10px 45px;
  .copyroght {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
  }
  .links-content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .footer-link {
      display: inline-block;
      color: #FFF;
      margin-left: 10px;
      transition: $basic-transition;
      &:hover {
        color: red;
      }
    }
  }
}