$font-body: 'Alegreya Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-sans: 'Poppins', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$c-primary: #24A3E3;
$c-primary-hv: #2091C9;

$c-secondary: #E11C35;
$c-secondary-hv: #C41624;

$c-tertiary: #F4F8F9;
$c-tertiary-hv: #eff1f1;



$basic-transition: all .4s ease-in-out;