.column-sidebar {
  background-color: $c-primary;
  color: #FFF;
  padding: 30px;
  h3 {
    text-align: center;
  }
  .nav-sidebar {
    .nav-sidebar-content {
      li {
        .sidebar-link {
          color: #FFF;
          font-size: 18px;
          display: block;
          border-radius: 5px;
          padding: 6px 15px;
          transition: $basic-transition;
          .fa-fw {
            margin-right: 15px;
          }

          &.is-active,
          &:hover {
            background-color: #FFF;
            color: $c-primary;
          }
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}